body, option,.modal-body, .modal-footer{
    background-color: #2f3031;
    color: #f7f7f7;
}

.botaoOrdenacao{
    border: none;
    background: transparent;
    margin: 0px;
}

.form-control::placeholder, #ano, #mes, #dia, #tipo, #descricao, #valor{
    background-color: transparent;
    color: white;
}

h5, .close{
    color: white;
}

#header, #botaoPesquisar, #botaoCadastro{
    background-color: #0ac153;
    color: white;
}

a.nav-link{
    font-size: 18px;
}

.borda{
    border: 1px solid red;
}

input[type = number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


@media (max-width: 575.98px) {
    #botaoCadastro{
        width: 100%;
        margin: 10px 0px;
    }

    #conteudo{
        margin-top: 15%;
        margin-bottom: 50%;
    }

    #ano, #mes, #dia, #tipo, #descricao, #valor, #botaoCadastro{
        height: 55px;
        margin-bottom: 35px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #botaoCadastro{
        width: 100%;
        margin: 10px 0px;
    }

    #conteudo{
        margin-top: 15%;
        margin-bottom: 50%;
    }

    #ano, #mes, #dia, #tipo, #descricao, #valor, #botaoCadastro{
        height: 70px;
        margin-bottom: 45px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    #botaoCadastro{
        width: 100%;
        margin: 10px 0px;
    }

    #conteudo{
        margin-top: 15%;
        margin-bottom: 50%;
    }

    #ano, #mes, #dia, #tipo, #descricao, #valor, #botaoCadastro{
        height: 80px;
        margin-bottom: 60px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

@media (min-width: 1200px) {
    
}